.comment{
    background-color: #FFDDD2;
    border: 3px solid #FF8787;
}
@media(max-width: 480px) and (min-width: 319px){
    .comment{
        margin-top: 6px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p{
        font-size: 1em;
    }
}
@media(max-width: 1200px) and (min-width: 481px){
    .comment{
        margin-top: 80px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    p{
        font-size: 1.2em;
    }
}
@media(max-width: 1600px) and (min-width: 1201px){
    .comment{
        margin-top: 100px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    p{
        font-size: 1.5em;
    }
}