body{
    margin: 0;
    padding: 0;
    background-color: #F9EFDB;
}
.profilebegin{
    background-color: #492F10;
    width: 100%;
}
.menu-bar{
    display: flex;
    flex-direction: row;
    float: right;
    font-family: 'Kanit', sans-serif;
}
.resume{
    color: white;
    text-align: start;
    font-family: 'Kanit', sans-serif;
}
.header{
    background-color: #f9bebe;
    width: 100%;
}
.header-grid{
    display: grid;
    grid-template-columns: 1fr 100%;
}
.introduction{
    font-family: 'Montserrat', sans-serif;
    color: #BB6464;
}
.profile-img{
    float: left;
}
.profile{
    height: auto;
    width: 80%;
}
.profile-title, .edu-title, .my-skills-title, .my-project-title, .my-interest-title{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #492F10;
}
.profile-content{
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
}
.education{
    height: auto;
    width: 100%;
    background-color: #FFEFCF;
    border-top: #492F10 2px solid;
    border-bottom: #492F10 2px solid;
}
.edu-flex{
    display: flex;
    gap: 10px;
}
.edu-content{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
}
.edu-content2{
    width: 30%;
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
    text-align: right;
}
.my-skills-flex{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
}
.programming-skills, .soft-skills{
    height: auto;
    background-color: #FDD2BF;
    border: #492F10 dashed 2px;
}
.programming-skills-title, .soft-skills-title{
    text-align: center;
}
ul{
    list-style-type: none;
}
li{
    padding-bottom: 20px;
    font-size: 1.2em;
}
.my-project{
    width: 100%;
}
.project1, .project2{
    margin-left: 10%;
    margin-right: 10%;
    border: #492F10 dashed 2px;
    background-color: #FFEFCF;
    width: 80%;
    height: auto;
}
.project-name{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.project-grid1{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.project-grid2{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.project1-content{
    width: auto;
    height: auto;
    float:left;
    font-family: 'Montserrat', sans-serif;
}
.fpv-img{
    position: relative;
    border: #492F10 2px solid;
}
.project2-content{
    width: auto;
    height: auto;
    float: right;
    font-family: 'Montserrat', sans-serif;
}
.rob-img{
    position: relative;
    border: #492F10 2px solid;
}
.here{
    color: #492F10;
    text-decoration: underline;
}
.my-interest{
    width: 80%;
}
.grid-interest{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
    background-color: #F7B787;
}
.contact-form{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.content{
    width: auto;
    height: auto;
    font-family: 'Pacifico', cursive;
    color: #492F10;
}
.content-p{
    text-align: center;
}
.form{
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
    border: 5px dashed #492F10;
}
input, textarea{
    width: 90%;
}
.button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #492F10;
    background-color: beige;
}
table{
    margin-left: 5%;
}
.footer{
    text-align: center;
    background-color: #492F10;
    width: 100%;
    height: auto;
}
.footer-header{
    font-family: 'Kanit', sans-serif;
    color: white;
}
.grid-contact-info{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
a{
    color: white;
    text-decoration: none;
}
li a:hover{
    background: #c3a0a0;
    border-radius: 10px;
    padding: 1px;
}
.programming-skills-bar, .soft-skills-bar{
    width: auto;
    height: auto;
    color: #492F10;
}
.bar{
    background: #353b48;
    display: block;
    border: 2px solid #492F10;
    border-radius: 10px;
    overflow: hidden;
}
.bar span{
    float: left;
    background: lightcoral;
}
.c{
    width: 80%;
    animation: c 3s;
}
.cplusplus{
    width: 70%;
    animation: cplusplus 3s;
}
.html{
    width: 70%;
    animation: html 3s;
}
.css{
    width: 60%;
    animation: css 3s;
}
.labview{
    width: 50%;
    animation: labview 3s;
}
.python{
    width: 30%;
    animation: python 3s;
}
.time-management{
    width: 100%;
    animation: time-management 3s;
}
.attention{
    width: 100%;
    animation: attention 3s;
}
.teamwork{
    width: 70%;
    animation: teamwork 3s;
}
.communication{
    width: 60%;
    animation: communication 3s;
}
.creativity{
    width: 80%;
    animation: creativity 3s;
}
.problem-solving{
    width: 75%;
    animation: problem-solving 3s;
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes cplusplus{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes labview{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes time-management{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes attention{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes teamwork{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes communication{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes creativity{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes problem-solving{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
li{
    list-style: none;
}
@media(max-width: 480px) and (min-width: 319px){
    .profilebegin{
        height: 2.5em;
    }
    .menu-bar{
        gap: 5px;
        font-size: 0.5em;
        padding-right: 5px;
    }
    .resume{
        font-size: 01em;
        padding: 6px 0px 0px 10px;
    }
    .header{
        height: 250px;
    }
    .introduction{
        padding-top: 50px;
        padding-left: 20px;
        font-size: 8.5px;
    }
    .profile-img{
        width: 120px;
        height: 160px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .profile{
        margin: 50px auto 0px auto;
        padding-bottom: 15px;
    }
    .profile-title, .edu-title, .my-skills-title, .my-project-title, .my-interest-title{
        font-size: 0.9em;
    }
    .profile-content{
        font-size: 1em;
    }
    .edu-content{
        font-size: 0.8em;
        padding-left: 10px;
    }
    .edu-content2{
        font-size: 0.8em;
        padding-top: 0px;
        padding-right: 10px; 
    }
    .education{
        padding-bottom: 10px;
    }
    .my-skills-flex{
        gap: 5px;
        margin: 0px 10% 15px 10%;
    }
    .programming-skills, .soft-skills{
        width: 200px;
        border-radius: 30px;
        padding-bottom: 10px;
    }
    .programming-skills-title, .soft-skills-title{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
    }
    .table{
        height: 100px;
        margin-left: 10px;
        font-size: 0.8em;
    }
    .my-project{
        margin-bottom: 60px;
    }
    .project1, .project2{
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .project-name{
        font-size: 0.9em;
    }
    .project1-content{
        margin: 5px 0px 5px 10px;
        font-size: 0.6em;
    }
    .fpv-img{
        width: 120px;
        height: 100px;
        margin-top: 20px;
    }
    .project2-content{
        margin: 5px 10px 5px 0px;
        font-size: 0.6em;
    }
    .rob-img{
        width: 120px;
        height: 100px;
        margin-top: 20px;
    }
    .my-interest{
        margin: 0px auto 50px auto;
    }
    .grid-interest{
        font-size: 0.8em;
        border-radius: 30px;
    }
    .contact-form{
        margin-bottom: 50px;
    }
    .content{
        font-size: 1em;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form{
        font-size: 0.8em;
    }
    .button{
        font-size: 0.8em;
    }
    .form{
        font-size: 0.8em;
        padding: 10px;
        border-radius: 10px;
    }
    .button{
        font-size: 0.8em;
        border-radius: 10px;
        padding: 5px;
    }
    .footer{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer-header{
        font-size: 1em;
    }
    .grid-contact-info{
        font-size: 0.5em;
    }
    .programming-skills-bar, .soft-skills-bar{
        padding-left: 5px;
        padding-right: 5px;
    }
    .bar{
        height: 10px;
        border-radius: 5px;
    }
    .bar-name{
        font-size: 0.6em;
    }
    .bar span{
        height: 10px;
    }
}
@media(max-width: 1200px) and (min-width: 481px){
    .profilebegin{
        height: 4em;
    }
    .menu-bar{
        gap: 10px;
        font-size: 0.8em;
        padding-right: 5px;
    }
    .resume{
        font-size: 1.9em;
        padding:8px 0px 0px 15px;
    }
    .header{
        height: 400px;
    }
    .introduction{
        padding-top: 75px;
        padding-left:25px;
        font-size: 14px;
    }
    .profile-img{
        width: 200px;
        height: 260px;
        margin-top: 40px;
        margin-left: 50px;
    }
    .profile{
        margin: 100px auto 0px auto;
        padding-bottom: 20px;
    }
    .profile-title, .edu-title, .my-skills-title, .my-project-title, .my-interest-title{
        font-size: 1.2em;
    }
    .profile-content{
        font-size: 1.2em;
    }
    .edu-content{
        font-size: 1em;
        padding-left: 25px;
    }
    .edu-content2{
        font-size: 1em;
        padding-top: 0px;
        padding-right: 25px; 
    }
    .education{
        padding-bottom: 20px;
    }
    .my-skills-flex{
        gap: 15px;
        margin: 0px 5% 25px 5%;
    }
    .programming-skills, .soft-skills{
        width: 500px;
        border-radius: 40px;
        padding-bottom: 20px;
    }
    .programming-skills-title, .soft-skills-title{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.2em;
    }
    .table{
        height: 200px;
        margin-left: 25px;
        font-size: 1em;
    }
    .my-project{
        margin-bottom: 80px;
    }
    .project1, .project2{
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 15px;
    }
    .project-name{
        font-size: 1.2em;
    }
    .project1-content{
        margin: 10px 0px 10px 20px;
        font-size: 0.9em;
    }
    .fpv-img{
        width: 250px;
        height: 180px;
        margin-top: 30px;
    }
    .project2-content{
        margin: 10px 20px 10px 0px;
        font-size: 0.9em;
    }
    .rob-img{
        width: 250px;
        height: 180px;
        margin-top: 30px;
    }
    .my-interest{
        margin: 0px auto 75px auto;
    }
    .grid-interest{
        font-size: 1em;
        border-radius: 40px;
    }
    .contact-form{
        margin-bottom: 100px;
    }
    .content{
        font-size: 1.5em;
        padding-left: 30px;
        padding-right: 30px;
    }
    .form{
        font-size: 1em;
        padding: 30px;
        border-radius: 30px;
    }
    .button{
        font-size: 1em;
        border-radius: 20px;
        padding: 10px;
    }
    .footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-header{
        font-size: 1.2em;
    }
    .grid-contact-info{
        font-size: 0.75em;
    }
    .programming-skills-bar, .soft-skills-bar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .bar{
        height: 20px;
        border-radius: 10px;
    }
    .bar-name{
        font-size: 0.8em;
    }
    .bar span{
        height: 20px;
    }
}
@media(max-width: 1600px) and (min-width: 1201px){
    .profilebegin{
        height: 5em;
    }
    .menu-bar{
        gap: 20px;
        font-size: 1.2em;
        padding-right: 20px;
    }
    .resume{
        font-size: 2.5em;
        padding:10px 0px 0px 30px;
    }
    .header{
        height: 450px;
    }
    .introduction{
        padding-top: 100px;
        padding-left: 100px;
        font-size: 25px;
    }
    .profile-img{
        width: 300px;
        height: 380px;
        margin-top: 25px;
        margin-left: 50px;
    }
    .profile{
        margin: 200px auto 0px auto;
        padding-bottom: 30px;
    }
    .profile-title, .edu-title, .my-skills-title, .my-project-title, .my-interest-title{
        font-size: 1.5em;
    }
    .profile-content{
        font-size: 2em;
    }
    .edu-content{
        font-size: 1.2em;
        padding-left: 50px;
    }
    .edu-content2{
        font-size: 1.2em;
        padding-top: 0px;
        padding-right: 50px; 
    }
    .education{
        padding-bottom: 30px;
    }
    .my-skills-flex{
        gap: 20px;
        margin: 0px 10% 50px 10%;
    }
    .programming-skills, .soft-skills{
        width: 600px;
        border-radius: 50px;
        padding-bottom: 30px;
    }
    .programming-skills-title, .soft-skills-title{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.5em;
    }
    .table{
        height: 300px;
        margin-left: 50px;
        font-size: 1.2em;
    }
    .my-project{
        margin-bottom: 100px;
    }
    .project1, .project2{
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .project-name{
        font-size: 1.5em;
    }
    .project1-content{
        margin: 15px 0px 15px 20px;
        font-size: 1.2em;
    }
    .fpv-img{
        width: 450px;
        height: 300px;
        margin-top: 40px;
    }
    .project2-content{
        margin: 10px 20px 20px 0px;
        font-size: 1.2em;
        padding-left: 10px;
    }
    .rob-img{
        width: 450px;
        height: 300px;
        margin-top: 20px;
    }
    .my-interest{
        margin: 0px auto 100px auto;
    }
    .grid-interest{
        font-size: 1.2em;
        border-radius: 50px;
    }
    .contact-form{
        margin-bottom: 150px;
    }
    .content{
        font-size: 2em;
        padding-left: 50px;
        padding-right: 50px;
    }
    .form{
        font-size: 1.2em;
        padding: 50px;
        border-radius: 50px;
    }
    .button{
        font-size: 1.2em;
        border-radius: 30px;
        padding: 15px;
    }
    .footer{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer-header{
        font-size: 1.5em;
    }
    .grid-contact-info{
        font-size: 1em;
    }
    .programming-skills-bar, .soft-skills-bar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bar{
        height: 30px;
        border-radius: 15px;
    }
    .bar-name{
        font-size: 1em;
    }
    .bar span{
        height: 30px;
    }
}
